<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CNC</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Główna
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="milling">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Frezowanie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="drilling">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wiercenie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="boring">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wytaczanie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reamering">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Rozwiercanie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="threading">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Gwintowanie
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hole_tolerances">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tolerancje otworów
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
