@page "/"
@namespace KalkulatorCnc.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KalkulatorCnc</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Wystąpił błąd. Ta aplikacja może nie odpowiadać, dopóki nie zostanie ponownie załadowana.
        </environment>
        <environment include="Development">
            Wystąpił nieobsługiwany wyjątek. Zobacz narzędzia dla programistów przeglądarki, aby uzyskać szczegółowe informacje.
        </environment>
        <a href="" class="reload">Odśwież</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
