@page


<h1 class="text-danger">Błąd</h1>
<h2 class="text-danger">Podczas przetwarzania żądania wystąpił błąd.</h2>

<h3>Development</h3>
<p>
    Przełącz do trybu <strong>Development</strong> środowisko wyświetli bardziej szczegółowe informacje o błędzie, który wystąpił.
</p>
<p>
    <strong>Środowiska programistycznego nie należy włączać dla wdrożonych aplikacji.</strong>
    Może to skutkować wyświetlaniem poufnych informacji z wyjątków użytkownikom końcowym.
    W przypadku debugowania lokalnego włącz <strong>Development</strong> środowisko, ustawiając <strong>ASPNETCORE_ENVIRONMENT</strong> zmienna środowiskowa na <strong>Development</strong>
    i ponowne uruchomienie aplikacji.
</p>
