@page "/Milling"
@using KalkulatorCnc.Data
@using System.Globalization
@inherits Calc

<h1 class="card-title">Frezowanie</h1>
    <EditForm Model="@calc">
        <table class="table table-striped w-auto">
            <tr>
                <td>Średnica narzędzia =</td>
                <td><InputNumber class="form-control" id="name" @bind-Value="diameter" placeholder="mm"/></td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="Diameter">Oblicz</button></td>
            </tr>
            <tr>
                <td>Prędkość Skrawania Vcc =</td>
                <td><InputNumber class="form-control" id="name" @bind-Value="cuttingSpeed"placeholder="m/s"/></td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="CuttingSpeed">Oblicz</button></td>
            </tr>
            <tr>
                <td>Prędkość obrotowa wrzeciona S =</td>
                <td><InputNumber class="form-control" id="name" @bind-Value="spindleSpeed" placeholder="obr/min"/></td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="SpindleSpeed">Oblicz</button></td>
            </tr>
            <tr>
                <td>Ilość zębów =</td>
                <td><InputNumber class="form-control" id="name" @bind-Value="numberOfTeeth"/></td>
                <td></td>
            </tr>
            <tr>
                <td>Posuw na ząb =</td>
                <td><InputNumber class="form-control" id="name" @bind-Value="feedPerTooth"placeholder="mm/ząb"/></td>
                <td></td>
            </tr>
            <tr>
                <td>Posuw =</td>
                <td><InputNumber class="form-control" id="name" @bind-Value="feed" placeholder="mm/min"/></td>
                <td><button class="btn btn-outline-secondary btn-sm" @onclick="Feed">Oblicz</button></td>
            </tr>
        </table>
    </EditForm>




@code {
Calc calc = new Calc();
}
