@page "/todo"

@using KalkulatorCnc.Data
@inject WeatherForecastService ForecastService

<h1>Lista rzeczy do zrobienia</h1>

<p>This component demonstrates fetching data from a service.</p>



@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
